@import "../../scss/_colors.scss";
@import "../../scss/_common-style.scss";

.socail_link_container {
  position: absolute;
  .social_item {
    width: 100px;
    height: 100px;
    display: grid;
    grid-template-rows: 62px 38px;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    color: $TEXT_COLOR_2;
    text-decoration: none;
    i {
      font-size: 40px;
      width: min-content;
    }
    span {
      font-weight: 700;
      font-size: 0.825rem;
      padding: 0.1rem 0.25rem;
    }
    transition: all 0.25s ease;
    &:hover {
      span {
        background: $TEXT_COLOR_2;
        color: white;
      }
    }
  }
}
