$BG_COLOR: #ebeaf0;
$BG_COLOR_1: #f5f5f5;
$BG_COLOR_2: hsla(0, 0%, 100%, 0.5);
$BOX_SHADOW: 0 0 10px 1px rgba(0, 0, 0, 0.1);
.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: transform 0.25s ease-in-out;
  width: 360px;
  background-color: $BG_COLOR_1;
  color: black;
  box-shadow: $BOX_SHADOW;
  height: 430px;
  &:hover {
    transform: scale(1.05);
  }
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-bottom: thin solid #ccc;
    font-size: 12px;
  }
  .body {
    padding: 0.75rem;
    height: 300px;
    h2 {
      margin-left: 0.25rem;
      margin-right: 0.25rem;
    }
  }
}
