@import "../../scss/_colors.scss";
@import "../../scss/_common-style.scss";

.container {
  @extend .basic_container;
  min-height: 250px;
  &:hover {
    transform: scale(1.025);
  }
  .title {
    @extend .title;
  }
  .body {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    h2 {
      opacity: 0.65;
    }
    p {
      font-weight: 500;
      opacity: 0.65;
      font-size: 0.825rem;
    }
  }
}
