@import "../../scss/_colors.scss";
@import "../../scss/_common-style.scss";

.container {
  @extend .basic_container;
  width: 350px;
  min-height: fit-content;
  .title {
    @extend .title;
  }
  .body {
    padding: 2rem;

    display: flex;
    flex-direction: column;

    .img_contaienr {
      display: flex;
      align-items: center;
      justify-content: center;

      .img_section {
        width: 6rem;
        height: 6rem;
        overflow: hidden;
        border-radius: 9999px;
        box-shadow: $BOX_SHADOW;
        border: thin solid #cccc;
        display: flex;
        align-items: center;
        justify-content: center;
        .img {
          position: relative;

          width: 100%;
          object-fit: cover;
        }
      }
    }
    .info {
      margin-top: 1.25rem;
      margin-bottom: 1.25rem;
      text-align: center;
      .name {
        font-weight: bold;
        font-size: 1.55rem;
        color: $TEXT_COLOR_2;
        opacity: 0.85;
      }
      .profession {
        font-weight: bold;
        color: $TEXT_COLOR_1;
        font-size: 0.75rem;
      }
    }
    .bio {
      font-weight: bold;
      font-size: 0.75rem;
      color: $TEXT_COLOR_1;
      text-align: center;
      text-wrap: balance;
    }

    .intro_row {
      margin-top: 1.25rem;
      margin-bottom: 1.25rem;

      gap: 0.5rem;
      font-size: 14px;
      font-weight: 400;

      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      .intr0_row_content {
        flex: 0 0 50%;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        .row_item {
          display: flex;
          justify-content: space-between;
          button {
            background-color: transparent;
            border: none;
            outline: none;
            cursor: pointer;
            i {
              transition: transform 0.25s ease;
              &:hover {
                transform: translate(-12px);
              }
              background-color: transparent;
            }
          }
        }
      }
    }
  }
}
