@import "../../scss/_colors.scss";
@import "../../scss/_common-style.scss";

.data_grid_container {
  @extend .basic_container;
  min-height: auto;
  width: min-content;
  .title {
    @extend .title;
  }
  .body {
    padding: 1rem 0.5rem;
    padding-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr auto;

    .grid_item {
      width: 100px;
      height: 100px;
      display: grid;
      grid-template-rows: 62px 38px;
      justify-content: center;
      align-content: center;
      align-items: center;
      justify-items: center;
      color: $TEXT_COLOR_2;
      text-decoration: none;
      img {
        width: 45px;
        border-radius: 0.25rem;
        overflow: hidden;
      }
      span {
        height: 38px;
        font-weight: 700;
        opacity: 0.85;
        font-size: 0.825rem;
        padding: 0.1rem 0.25rem;
      }
      transition: all 0.25s ease;
      &:hover {
        span {
          background: $TEXT_COLOR_2;
          color: white;
        }
      }
    }
  }
}
