@import "../../scss/_colors.scss";

.layout {
  max-height: 100vh;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  scrollbar-width: none;
  user-select: none;
  background-color: $BG_COLOR;

  .canvas {
    background-color: $BG_COLOR;

    transition: transform 0.15s ease-out;

    &.dashed-grid-paper {
      --grid-size: 50px;
      --grid-strength: 1px;
      --grid-dash: 10px;
      --grid-gap: 5px;

      background-color: $PAPER_COLOR;
      background-size: var(--grid-dash) var(--grid-dash),
        var(--grid-size) var(--grid-size);
      background-image: linear-gradient(
          to bottom,
          transparent var(--grid-gap),
          $PAPER_COLOR var(--grid-gap)
        ),
        linear-gradient(
          to right,
          $GRID_COLOR var(--grid-strength),
          transparent var(--grid-strength)
        ),
        linear-gradient(
          to right,
          transparent var(--grid-gap),
          $PAPER_COLOR var(--grid-gap)
        ),
        linear-gradient(
          to bottom,
          $GRID_COLOR var(--grid-strength),
          transparent var(--grid-strength)
        );
    }
  }
}

.mini_map_desktop {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  z-index: 10;
}
